@import "../../App";
.title{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    color: $color-white;
}
.form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start  ;
    flex-flow: column;
    padding-top: 45px;
    padding-bottom: 45px ;
    row-gap: 30px;
    width: 420px;
    height: 436px;
    background: $background-auth;
    box-shadow: 0 0 52px 8px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    @media screen and (max-width: 440px) {
        width: 98%;
    }
}
