@import "../../../App";
.wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 440px) {
        justify-content: center;
        width: 80%;
    }
}


.input {
    padding: 5px;
    display: block;
    outline: none;
    border: none;
    width: 230px;
    height: 28px;
    background: $color-white;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    color: $text-dark;
    @media screen and (max-width: 440px) {
        width: 100%;
    }

}

.rigth {
    box-shadow: 0 0 7px $right;
}

.error {
    box-shadow: 0 0 7px $error;
}

.toggle {
    margin: 0;
    position: absolute;
    display: block;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-white;
    transform: translateX(250px);
    @media screen and (max-width: 440px) {
        right: 2%;
        transform: translateY(29px)
    }
}

.required {
    margin: 0;
    position: absolute;
    display: block;
    font-weight: 300;
    font-size: 12px;
    color: $error;
    transform: translateX(5px) translateY(29px);
    @media screen and (max-width: 440px) {
        transform: translateY(29px);
        left: 2%
    }
}
