.wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.input {
    padding: 5px;
    display: block;
    outline: none;
    border: none;
    width: 230px;
    height: 28px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(203, 203, 203, 0) 100%);
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

}

.rigth {
    background: linear-gradient(180deg, #16FF3C 0%, rgba(203, 203, 203, 0) 100%);
}

.error {
    background: linear-gradient(180deg, #F12626 0%, rgba(203, 203, 203, 0) 100%);

    &::placeholder {
        color: #FFFFFF;
        opacity: 0.5;
    }

    color: white;
}

.toggle {
    margin: 0;
    position: absolute;
    display: block;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    transform: translateX(250px);
}

.required {
    margin: 0;
    position: absolute;
    display: block;
    font-weight: 300;
    font-size: 12px;
    color: #5e0000;
    transform: translateX(5px) translateY(29px);
}