.confirmPage {
    height: 100%;
    width: 100%;
    background-image: url('./../../assets/img/authorization-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.desc {
    width: 500px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    @media screen and (max-width: 580px) {
        width: 95%;
        font-size: 30px;
    }
}
