.confirmPage {
    height: 100%;
    width: 100%;
    background-image: url('./../../assets/img/authorization-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.desc {
    width: 366px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.timer {
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}