@import "../../App";
.confirmPage {
    height: 100%;
    width: 100%;
    background: $background-auth ;
    overflow: auto;
}

.desc {
    width: 366px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: $color-white;
    @media screen and (max-width: 440px) {
        width: 100%;
    }
}

.timer {
    font-weight: 700;
    font-size: 32px;
    color: $color-white;
}
