.header{
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 64px;
    @media screen and (max-width: 440px) {
        justify-content: center;
    }
}
