$background-auth: #042B7D;
$button: #347CC4;
$color-1: #6C94DC;
$color-2: #6087A3;
$color-3: #A3ADC9;
$text-dark: #344A62;
$color-white: #FFFFFF;
$error: #EC3434;
$right: #06FF01;

.app{
  height: 100vh;
}
